@font-face {
	font-family: 'VAG World Bold';
	src: url('../fonts/vag_world_bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/vag_world_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/vag_world_bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/vag_world_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/vag_world_bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/vag_world_bold.svg#vag_world_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VAG World Bold', sans-serif;
}

html,
body {
    background: -moz-linear-gradient(90deg,#0099ba, #1678f3,#0099ba);
    background: -webkit-linear-gradient(90deg,#1678f3,#0099ba); 
    background: linear-gradient(90deg,#1678f3, #0099ba);
}

.top {
    background-color: var(--primary);
}

.gradient {
    font-size: 33px;
    margin-top: 0px;
    opacity: 1;
    color: #000;  
}

.gradient::before {
    content: '';
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -webkit-linear-gradient(90deg,#1678f3,#0099ba); 
    background: linear-gradient(90deg,#1678f3,#0099ba);
    pointer-events: none;
    mix-blend-mode: screen;
}

.navWrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px;
    background-color: #ece6e6;
    opacity: 0.85;
    color: white;
    overflow: hidden;
    width: 100%;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
}

.logoWrap {
    padding: 0;
}

.navigation {
    display: flex;
    list-style-type: none;
}
.li {
    opacity: 1;
    list-style-type: none;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.parent {
    text-shadow: 2px 5px 5px rgb(59, 59, 59);
    margin-right: 0;
    margin-top: 15px;
    cursor: pointer;
    color: #000
}

.parent-two {

    margin-top: 14px;
    color: #000;

}

.login {
    font-size: 16px;
    margin: 0px;
    margin-top: 20px;
    cursor: pointer;
    color: #000
}

.menu {
    margin-top: 19px;
    margin: 10px;
    color: #000;
}

.sub-parent {
    display: block;
}

.fa-bars {
    text-shadow: 2px 5px 5px rgb(59, 59, 59)
}

.login:hover {
   color: rgb(124, 124, 124);
}

.login:active {
    color: #000;
}

.menu:hover {
    color: rgb(124, 124, 124);
}

.menu:active {
    color: #000
}

.text-wrap {
    justify-content: space-between;
    text-align:left;
    box-shadow: 5px 4px 44px -12px #000000;
    line-height: 120px;
    padding-left: 10%;
    overflow: hidden;
    background-color: white;
    opacity: 0.95;
    position: absolute;
    left: 1%;
    right: 1%;
    display: block;
    border-radius: 15px 15px 15px 15px;
}

.gradient-abz {
    font-size: 25px;
    margin-top: 0px;
    opacity: 1;
    color: #000;  
}

.gradient-abz::before {
    content: '';
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -webkit-linear-gradient(90deg,#1678f3,#0099ba); 
    background: linear-gradient(90deg,#1678f3,#0099ba);
    pointer-events: none;
    mix-blend-mode: screen;
}



