@font-face {
	font-family: 'VAG World Bold';
	src: url('../fonts/vag_world_bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/vag_world_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/vag_world_bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/vag_world_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/vag_world_bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/vag_world_bold.svg#vag_world_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VAG World Bold', sans-serif;
}


body {
    background: -moz-linear-gradient(90deg,#0099ba, #1678f3,#0099ba);
    background: -webkit-linear-gradient(90deg,#1678f3,#0099ba); 
    background: linear-gradient(90deg,#1678f3, #0099ba);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#1678f3, endColorstr=#0099ba,GradientType=1);
}

.gradient {
    font-size: 33px;
    margin-top: 0px;
    opacity: 1;
    color: #000;  
}

.gradient::before {
    content: '';
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -webkit-linear-gradient(90deg,#1678f3,#0099ba); 
    background: linear-gradient(90deg,#1678f3,#0099ba);
    pointer-events: none;
    mix-blend-mode: screen;
}

.navWrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #ece6e6;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    opacity: 0.85;
    color: white;
    overflow: hidden;
    width: 100%;
}

.logoWrap {
    padding: 0;
}

.navigation {
    display: flex;
    list-style-type: none;
}
    .li {
        opacity: 1;
        list-style-type: none;
        color: white;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
    }

    .parent {
        margin: 10px;
        margin-top: 20px;
        cursor: pointer;
        color: #000
    }

    .parent-two {
        margin-top: 19px;
        color: #000;
    }

    .link {
        color: #000;
    }


